# Don't include my virtual environment
data-processing/vcdb/*/venv
data-processing/vcdb/venv/

# Don't include my swp files either
data-processing/vcdb/.*.swp

# Stupid DS_Store files too
data-processing/vcdb/*/.DS_Store

# Sometimes I do stuff with ipython notebook
data-processing/vcdb/*.ipynb

# R stuff
data-processing/vcdb/*Rproj*
data-processing/vcdb/.RData
data-processing/vcdb/.Rhistory

data-processing/vcdb/*.py[co]

# Packages
data-processing/vcdb/*.egg
data-processing/vcdb/*.egg-info
data-processing/vcdb/dist
data-processing/vcdb/build
data-processing/vcdb/eggs
data-processing/vcdb/parts
data-processing/vcdb/var
data-processing/vcdb/sdist
data-processing/vcdb/develop-eggs
data-processing/vcdb/.installed.cfg

# # Installer logs
data-processing/vcdb/pip-log.txt

# # Unit test / coverage reports
data-processing/vcdb/.coverage
data-processing/vcdb/.tox
#
# #Translations
data-processing/vcdb/*.mo

# JSON data
data-processing/vcdb/tools/*/*.json

# GitHub token
data-processing/vcdb/.github

data-processing/vcdb/data/json/.DS_Store
data-processing/vcdb/.DS_Store
